body {
  margin: 0px;
  background-color: #DDD;
  overflow-y: scroll;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15%;
}

/*
div.ast {
  background-image: url('/images/bg_astronomy.jpg'); 
  color: white;
}*/

/* only to be used for the naviagtoin menu */
.navigation {
  background-color: yellow;
  height: 80px;
}

img.default {
  width: 800px;
  border: 2px solid #333333;
  padding: 10px;
  background-color: #EEEEEE;
}

.fiche {
  background-color: red;
  text-align: center;
  padding: 20px;
}

.label {
  width: 50%;
}

.footer {
  height: 60px;
  background-color: black;
  color: #F0F0F0;
}

.footer a {
  color: #F0F0F0;
  text-decoration: underline;
}

.columnCellAsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}