body {
  margin: 0px;
  background-color: #DDD;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15%;
}

/* only to be used for the naviagtoin menu */
.navigation {
  background-color: yellow;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

img.default {
  width: 800px;
  border: 2px solid #333333;
  padding: 10px;
  background-color: #EEEEEE;
}

.fiche {
  background-color: red;
  text-align: center;
  padding: 20px;
}

.label {
  width: 50%;
}