body {
  margin: 0px;
  background-color: #DDD;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15%;
}

/* GENERAL */
.columnCellAsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* only to be used for the navigation menu */
.navigation {
  background-color: yellow;
  height: 80px;
}

.navitem {
  text-align: center;
}
.navitem a {
  text-decoration: none;
  font-weight: bold;
}

/* only to be used for main content */
.content h2 {
  padding: 0px 50px;
}

.content p {
  padding: 0px 100px;
}

.content ul {
  padding: 0px 100px;
}

.content ul.pageslist {
  padding: 0px 150px;
}

img.default {
  width: 800px;
  border: 2px solid #333333;
  padding: 10px;
  background-color: #EEEEEE;
}

.fiche {
  background-color: red;
  text-align: center;
  padding: 20px;
}

.label {
  width: 50%;
}

/* only to be used for the footer */
.footer {
  height: 60px;
  background-color: black;
  color: #F0F0F0;
}

.footer a {
  color: #F0F0F0;
  text-decoration: underline;
}

