

h2 {
	text-align: center;
}

div.containerH {
  display: flex;
  flex-direction: row; /* in a single column */
  justify-content: space-around;
  align-items: flex-start; /* place the 3 main columns, centered */

  flex-wrap: nowrap;
  padding-top: 20px;
}

div.columnH {
  width: 48%;
  background-color: #F6F6F6 ;
}

div.white {
  background-color: white ;
}

/* enumberations */
div.columnH.brew ul li {
  padding-left: 0%;
  margin-left: 5%;
}

/* nested enumberations */
div.columnH.brew ul li ul li {
  padding-left: 0%;
  margin-left: 0%;
}

div.columnH.brew h3 {
  color: var(--MENU-HEADER-BG-color) !important;
  text-align: center;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

table#bakerslog th {
  background-color: #F6F6F6;
  color: var(--MAIN-LINK-color);
  text-transform: capitalize;
  font-weight: bold;
}