

h2 {
	text-align: center;
}

div.containerH {
  display: flex;
  flex-direction: row; /* in a single column */
  justify-content: space-around;
  align-items: flex-start; /* place the 3 main columns, centered */

  flex-wrap: nowrap;
  padding-top: 20px;
}

div.columnH {
/*  flex: 1;*/
  width: 45%;
  background-color: pink ;
}