<!DOCTYPE html>
<html>
  <head>
    {{ partial "construction/head.html" .}}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo">
          {{ partial "construction/header.html" .}}
        </div>
        <div id="navigation">
        <!--
          To make the **context** available IN the partial
          the dot has to be added 
        -->
        {{ partial "construction/navigation.html" .}}
        </div>
      </div>
      <div id="main">
        {{ block "main" . }}
        {{ end }}
      </div>
      <div id="footer">
        {{ partial "construction/footer.html" . }}
      </div>
    </div> <!-- end of container -->
  </body>
</html>
