{{ define "main" }}

  <div class=content>
    {{ .Content }}
  </div>

  <div class="summary_container">
    <div class="summary">
      <h3>Most recent posts</h3>
      {{ range where .Pages "Type" "post" }}
        <div class="postlink">
          <a href="{{ .Permalink }}" title="{{ .Title }}">
            <i class="far fa-sticky-note"></i> {{ .PublishDate.Format "02 Jan 2006" }} - {{ .Name }}
          </a>
        </div>
      {{ end }}
    </div>

    <div class="summary">
      <h3>Most recent pages</h3>
      {{ range where .Pages "Type" "page" }}
        <div class="pagelink">
          <a href="{{ .Permalink }}" title="{{ .Title }}">
            <i class="far fa-newspaper"></i> {{ .PublishDate.Format "02 Jan 2006" }} - {{ .Name }}
          </a>
        </div>
      {{ end }}
    </div>

  </div>


{{ end }}
