{{ define "main" }}
  {{ .Content }}

  <div style="display: flex; justify-content: space-around;">

    <div style="background-color:green; width: 40%">
      <h3>Most recent posts</h3>
      {{ range .Pages.ByPublishDate.Reverse }}
        <div class="submenuitem">
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </div>
      {{ end }}
    </div>

    <div style="background-color:yellow; width: 40%">
      <h3>Most recent pages</h3>
      {{ range where .Pages "type" "post" }}
        <div class="submenuitem">
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </div>
      {{ end }}
    </div>

  </div>


{{ end }}
