:root {
  --main-text-color: white;
  --main-bg-color: #101932;
  --highlight-text-color: orange;
  --highlight-bg-color: #202942;
}

div#container {
  /* three main columns: header, subcontainer, footer */
  display: flex;
  flex-direction: column; /* in a single column */
  /*justify-content: space-between; */
  align-items: center; /* place the 3 main columns, centered */

  margin: 0 10%;
}

/*
 * HEADER
 */
div#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;

  background-color: var(--highlight-bg-color);
  height: 200px;
  margin-bottom: 20px;

  /* rounded borders on the top*/
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



/*
 * FOOTER
 */
div#footer {
  width: 100%;
}

/*
 * MAIN
 */
div#main {
  width: 100%;
  flex: 1;
}